@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --text: white;
    --bg: #1e0e26;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Open Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    overflow-y: scroll;
}

button[disabled] {
    opacity: 1;
    cursor: unset;
}

.toast {
    animation: popup 200ms ease-out 1;
    @apply fixed bottom-8 right-8 p-2 flex flex-col origin-bottom-right;
}
.bad.toast {
    @apply bg-red-600;
}

@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}