@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --text: white;
    --bg: #1e0e26;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Open Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    overflow-y: scroll;
}

button[disabled] {
    opacity: 1;
    cursor: unset;
}

.search .list {
    display: none;
}
.search:has(input[type='search']:focus) .list, .search .list:hover {
    display: flex;
    z-index: 1;
}
.search .list li.hovered {
    background-color: rgb(74 4 78);
    color: white;
}